
body{
}

#header li{
  float: right;
  display: inline-block;
}

#header {
  border: solid green;
  background-color: black;
  color:white;
  margin-top:0px;
}

.container {
  border: solid green;
  background-color: #fff;
  margin: 0;
  width: 100%;

}
#left-col {
  box-sizing: border-box;
  border: solid purple;
  float: left;
  width: 60%;
}
#right-col {
  box-sizing: border-box;
  border: solid pink;
  padding: 10px;
  float:left;
  width: 40%;
}
#footer{
  border: solid grey;
  clear:both;
}
