

body{
  background-color: pink;
}

h1{
  display: inline;
  float: left;
  font-family: Label;
  font-size: 40px;
  letter-spacing: 2px;
}

h2{
  font-family: Label;
  font-size: 30px;
}

h3{
  font-family: Label;
}

li {
  font-family: Label;
}

a {
  font-family: Label;
  text-decoration: none;
  color: inherit;
}

a:hover{
  font-style: italic;
}

p {
  font-family: Label;
  font-size: 17px;
}

#nav img{
  float:left;
  width: 55px;
  padding-top: 20px;
}

#nav li{
  list-style: none;
  float: right;
}


#nav li:before{
  content:"             ";
  white-space: pre;
}

#nav {
  /*border: solid orange;*/
  box-sizing: border-box;
  width: 100%;
  overflow: auto;
  background-color: grey;
  color:white;
  margin: 0px;
  padding: 30px 180px 10px 100px;

}

.container {
  box-sizing: border-box;

}

#left-col ul{
  list-style: none;
}
#left-col p {
  padding-right: 60px;
  text-align: center;
}

#left-col {

  box-sizing: border-box;
  float: left;
  width: 800px;
  position: relative;
  margin-left: 20px;
}

#left-col li{
  display: inline;
}

.thumbnail {
  list-style: none;

}
.thumbnail img{
  width: 150px;
  padding: 2px;
}
.thumbnail img:hover{
  border: 2px solid #000;
}

#caption{
  position: absolute;
  left: 650px;
  top: 100px;
}

#main-img{
  float: right;
  position: relative;
  width: 591px;
  height: 780px;
  background-image: url(../img/brownshirtl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: crosshair;
}

#main-img:hover{
  background-size: 200% 200%;
}

#right-col {
  box-sizing: border-box;
  float:left;
}

.center {
  /*border: solid orange;*/
  width: auto;
  padding-left: 40px;
  box-sizing: border-box;
  height: 902px;
  display: table-cell;
  vertical-align: middle;
}

.block a{
  display: block;
  margin-bottom: 5px;
}

button {
  width: 400px;
  height: 50px;
  margin: 20px 0px 20px 0px;
  background-color: lightblue;
  font-family: Label;
  font-size: 18px;
}

button:hover{
  border: 3px solid #fff;
}

#footer{
  /*border: solid grey;*/
  clear:both;
  text-align: center;
  background-color: grey;
  color: white;

  padding: 20px 0px 20px 0px;

}



/*Table Styling*/
 table {

   border: 1px solid #000;
   border-collapse: collapse;
   width: 400px;
   background-color: #fff;


 }

 thead{
   border-bottom: 1px solid #000;
   background-color: lightblue;
 }

 th:first-child {
   background-color: #fff;
 }

 td, th {
   padding: 3px;
   text-align: center;
   border-left: 1px solid #000;
 }

 td:first-child {
   text-align: left;
 }

 /*fonts*/

@font-face {
 font-family: 'Label';
 src: url('../fonts/ibmplexsans-medium-webfont.woff2') format('woff2'),
      url('../fonts/ibmplexsans-medium-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
