
body{
}

h1{
  display: inline;
  float: left;
}

#nav li{
  list-style: none;
  display: inline-block;
  float: right;
}

nav ul{

}

#nav li:after{
  content:"++++";
}

#nav {
  box-sizing: border-box;
  width: 100%;
  border: solid orange;
  overflow: auto;
  background-color: grey;
  color:white;
  margin: 0px;
  padding: 30px 100px 10px 100px;

}

.container {
  border: solid green;
  width: 100%;
}
/*#columns {
  min-height: 900px;
  margin-left: auto;
  margin-right: auto;
}*/

#left-col ul{
  list-style: none;
}
#left-col p {
  padding-right: 60px;
  text-align: center;
}

#left-col {
  box-sizing: border-box;
  border: solid purple;
  float: left;
  width: 800px;
  position: relative;
}

#addtl {
  width:50px;
  list-style: none;

}
.thumbnail img{
  width: 150px;
  padding: 2px;
}

#caption{
  position: absolute;
  left: 650px;
  top: 100px;
}

#main-img{
  float: right;
  position: relative;

  width: 591px;
  height: 780px;
  background-image: url(../img/brownshirtl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#main-img:hover{
  background-size: 200% 200%;
}

#right-col {
  box-sizing: border-box;
  float:left;
}

.center {
  width: 700px;
  padding: 0px 120px 0px 120px;
  border: solid pink;
  box-sizing: border-box;
  height: 902px;
  display: table-cell;
  vertical-align: middle;
}

.block a{
  display: block;
  margin-bottom: 10px;
}

#footer{
  border: solid grey;
  clear:both;
  text-align: center;
}



/*Table Styling*/
 table {

   border: 1px solid #000;
   border-collapse: collapse;
   width: 400px;

 }

 thead{
   border-bottom: 1px solid #000;
   background-color: lightblue;
 }

 th:first-child {
   background-color: #fff;
 }

 td, th {
   padding: 3px;
   text-align: center;
   border-left: 1px solid #000;
 }

 td:first-child {
   text-align: left;
 }
